body {
  font-family: 'Poppins', sans-serif;
   overflow-x: hidden;
   margin-top: 100px;
}

.sidebar-nav .nav-link {
  color: #555;
}

.sidebar-nav .nav-link.active {
  background: #198754;
  color: white;
  border-radius: 8px;
}

.stat-card {
  border: none;
  border-radius: 15px;
}
.custom-navbar{
  transition: all 0.3s ease;
 
}
.navbar-nav{
  font-size: 20px;
}
.logo-img {
    height: 80px;    
    width: auto;      
    display: block;
}
.dropdown-menu a:hover{
  color: white;
  background-color: #56dc35;
}
.dropdown-menu .dropdown-item:hover {
  color: white;
  background-color: #56dc35 ;
  text-decoration: none ;
}

.navbar-nav > .nav-item > .nav-link {
    font-weight: 500;
    color: #333;
    transition: all 0.3s ease;
}

.navbar-nav > .nav-item > .nav-link:hover {
    color: #28a745;
}

.navbar-nav > .nav-item > .nav-link.active {
    color: #28a745;
    border-bottom: 3px solid #28a745;
}

.dropdown-menu {
    border-radius: 8px;
    border: none;
    box-shadow: 0 6px 20px rgba(0,0,0,0.08);
}

.dropdown-menu .dropdown-item {
    transition: 0.3s ease;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #28a745;
    color: white;
}
.cart-icon-wrapper {
    position: relative;
    display: inline-block;
}

.cart-badge {
    position: absolute;
    top: -6px;
    right: -8px;
    background: #dc3545;
    color: #fff;
    font-size: 10px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 600;
}
@media (max-width: 576px) {
    .logo-img {
        height: 45px;
    }
}
.sidebar {
  min-height: 100vh;
  border-right: 1px solid #eee;
}

.nav-link {
  color: #555;
}

.nav-link.active {
  background: #198754;
  color: white;
  border-radius: 8px;
}

.card {
  border-radius: 15px;
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    z-index: 1000;
    width: 250px;
  }
}

.footer-section {
  font-size: 14px;
}

.footer-links li {
  margin-bottom: 8px;
}

.footer-links a {
  text-decoration: none;
  color: #bbb;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #198754;
  padding-left: 4px;
}

.footer-section i {
  transition: 0.3s;
}

.footer-section a:hover i {
  color: #198754;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
  font-size: 14px;
}
@media (max-width: 767px) {

  .contact-item {
    justify-content: center;
  }

  .contact-item span {
    text-align: left;
  }

}
@media (min-width: 768px) {

  .contact-item {
    justify-content: flex-start;
  }

}

.contact-item i {
  color: #198754;
  font-size: 16px;
}